{{ define "main" }}

<script type="application/ld+json">
  {{ (merge .Params.jsonld (dict "@id" .Permalink "url" .Permalink "identifier" .Permalink)) }}
</script>

<section class="section-sm pt-0">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-in">
      <div class="col-lg-8 mt-5">
        <div class="">
          <h2>{{.Title | markdownify }}</h2>
          <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
            <ol class="breadcrumb bg-transparent p-0 mb-0">
              {{ partial "breadcrumbs.html" . }}
            </ol>
          </nav>
          {{ range .Params.topics }}
          <span class="badge bg-secondary mb-3" data-pagefind-filter="topic">{{ . }}</span>
          {{ end }}

          <div class="row">
          <div property="description" class="col-md-6">{{ .Params.jsonld.description | markdownify }}</div>
          <div class="col-md-6" id="map" style="height: 350px"></div>
          </div>

          <h3>Attributes</h3>

          <dl class="row">
            {{ range .Params.creator }}
            <dt class="col-sm-4">Author</dt>
            <dd class="col-sm-8">
              {{ partial "person.html" . }}
            </dd>
            {{ end }}

            {{ range .Params.maintainer }}
            <dt class="col-sm-4">Maintainer</dt>
            <dd class="col-sm-8">
              {{ partial "person.html" . }}
            </dd>
            {{ end }}

            {{ range .Params.provider }}
            <dt class="col-sm-4">Organization</dt>
            <dd class="col-sm-8">
                {{ partial "organization.html" . }}
            </dd>
            {{ end }}

            <dt class="col-sm-4">Temporal Coverage</dt>
            <dd class="col-sm-8">
              {{ .Params.jsonld.temporalCoverage }}
            </dd>

            {{ range .Params.jsonld.license }}
            <dt class="col-sm-4">License</dt>
            <dd class="col-sm-8">
              {{ .name }}
              <a href="{{ .url }}"><span class="la la-external-link"></span></a>
            </dd>
            {{ end }}
          </dl>

          <h3>Downloads</h3>

          <ul class="list-group">
            {{ range .Params.jsonld.distribution }}
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ .name }} <a class="btn btn-outline-primary btn-sm" href="{{ .url }}"><i class="la la-download"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /regular page -->


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const boundary = {
      "type": "Feature",
      "geometry": {{ .Params.spatialCoverage }}
    };
    const map = L.map('map');

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    const layer = L.geoJson(boundary, { style: {
      "color": "#ff7800",
      "weight": 5,
      "opacity": 0.65
    }});
    layer.addTo(map);
    map.fitBounds(layer.getBounds());
  })
</script>

{{ end }}