{{ define "main" }}

<div class="container pt-5" id="search-page">
  <div class="row">
    <section class="col-lg-3 pb-0">
      <a class="btn btn-block btn-lg btn-light" href="/request/">Request dataset</a>
    </section>
    <section class="col-lg-9">
      <form>
        <div class="form-group">
          <label class="sr-only" for="id_search">Search</label>
          <div class="input-group">
            <input type="text" class="form-control form-control-lg" placeholder="Enter search terms here" v-model="search" aria-label="Search" name="search" id="id_search" form="search">
            <div class="input-group-append">
              <button class="btn btn-outline-primary btn-lg" type="submit" form="search">Search
              </button>
              <button class="btn btn-outline-secondary btn-lg" type="button" data-toggle="popover" title="Search" data-html="true" data-content="<p>Search through the catalog using filters and keywords</p>">
                ?
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>
    <section class="col-lg-3 pb-2">
      <form id="search">
        <div class="card my-1">
          <div class="card-header">
            Top Topics (Count)
          </div>
          <div class="card-body" v-for="topic in facets.topics">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{% topic.selected %}" name="topic" id="topic-shoreline">
              <label class="form-check-label" for="topic-shoreline">
                {% topic.key %} (<b>{% topic.doc_count %}</b>)
              </label>
            </div>
          </div>
        </div>
        <button class="btn btn-block btn-outline-primary" type="submit">Filter</button>
      </form>
    </section>
    <section class="col-lg-9 pb-2">
      <div class="card my-1" v-for="match in matches">
        <div class="card-body">
          <h5 class="card-title">{% match.title %}</h5>
          <p class="card-text">{% match.summary %}</p>
          <a v-for="topic in match.topics" href="#" class="card-link">{% topic %}</a>
        </div>
      </div>
      <div>
        <ul class="nav">
          <li class="nav-item" v-for="p in pages.range">
            <a :class="['nav-link', p === page ? 'disabled' : '' ]" :href="`?${p.url}`">{% p.name %}</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>

<script type="application/javascript">
  const DATA_CATALOG = [
    {
      title: 'Shoreline',
      summary: 'This dataset consists of long-term (~63 years) shoreline change rates for the coast of Inuvialuit Settlement Region',
      topics: ['Climate Change', 'Shoreline']
    }
  ];

  const DATA_CATALOG_SEARCH = {
    sortings: {
      title_asc: {
        field: 'title',
        order: 'asc'
      }
    },
    aggregations: {
      topics: {
        title: 'Topics',
        size: 10,
        conjunction: false
      }
    },
    searchableFields: ['title', 'summary']
  };

  function createSearchIndex() {
    return itemsjs(DATA_CATALOG, DATA_CATALOG_SEARCH);
  }

  function createInitialState(index) {
    const qs = new URLSearchParams(window.location.search);
    const query = {
      per_page: 10,
      page: Number(qs.get('page') || '1'),
      query: qs.get('search') || '',
      filters: {
        topics: qs.getAll('topics')
      },
    }
    const results = index.search(query);
    return {
      search: qs.get('search'),
      facets: {
        topics: results.data.aggregations.topics.buckets
      },
      matches: results.data.items,
      page: query.page,
      last_page: results.pagination.total
    }
  }

  function range(start, stop, query) {
    const qs = new URLSearchParams(query);
    const xs = [];
    let i = start;
    while (i < (stop + 1)) {
      qs.set('page', i);
      xs.push({ name: i, url: qs.toString()});
      i++;
    }
    return xs;
  }

  function createApp(state) {
    return Vue.createApp({
      delimiters: ['{%', '%}'],
      data() {
        return state
      },
      computed: {
        pages() {
          const minpage = Math.max(this.page - 2, 1);
          const maxpage = Math.min(this.page + 2, this.last_page);
          return {
            first: minpage > 1,
            last: maxpage < this.last_page,
            range: range(minpage, maxpage, window.location.search)
          }
        }
      }
    }).mount('#search-page');
  }

  var app;

  document.addEventListener("DOMContentLoaded", () => {
    const index = createSearchIndex();
    const state = createInitialState(index);
    app = createApp(state)
  });
</script>

{{ end }}