{{define "main"}}

{{with .Params.banner}}
<section class="banner">
  <div class="container-xxl">
    <div class="row text-center">
      <div class="col-12">
        <div class="block row justify-content-center no-gutters" data-aos="fade-up">
          <div class="col-lg-10 px-0 px-xl-4" data-rellax-speed="-3">
            <h1 class="mb-4" data-aos="fade-up">{{.title | markdownify}}</h1>
            <form class="input-group" action="/search/" method="get">
              <input type="text" class="form-control" placeholder="Search the catalog" aria-label="Catalog Search" aria-describedby="search-button" name="search">
              <button class="btn btn-primary" id="search-button">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>

        <div class="has-circle">
          <span class="circle-1 ratio-32" data-rellax-speed="-2"></span>
          <span class="circle-2 ratio-85 fill" data-rellax-speed="2"></span>
          <span class="circle-3 ratio-20 fill"></span>
          <span class="circle-4 ratio-47" data-rellax-speed="1"></span>
          <span class="circle-5 ratio-62" data-rellax-speed="-1"></span>
          <span class="circle-6 ratio-20 fill" data-rellax-speed="-0.5"></span>
          <span class="circle-7 ratio-73" data-rellax-speed="-1"></span>
          <span class="circle-8 ratio-37" data-rellax-speed="-.5"></span>
          <span class="circle-9 ratio-20 fill" data-rellax-speed="1"></span>
          <span class="circle-10 ratio-65 fill" data-rellax-speed="-2"></span>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{with .Params.features}}
{{if .enable}}
<section class="section features overflow-hidden py-3 mb-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up">
        <div class="section-title text-center">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2 class="title">{{.title | markdownify}}</h2>
          <p>{{.description | markdownify}}</p>
        </div>
      </div>
    </div>

    {{with .features_blocks}}
    <div class="row">
      {{range .}}
        <div class="features-card col-lg-6 m-0 p-2">
          <div class="icon text-primary">
            <i class="{{.icon}}"></i>
          </div>
          <h3 class="title">{{.title | markdownify}}</h3>
          <p class="mb-0">{{.content | markdownify}}</p>
        </div>
      {{end}}
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{end}}

{{with .Params.brands_carousel}}
{{if .enable}}
<section class="overflow-hidden pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" data-aos="fade-up">
        <div class="section-title text-center">
          <p class="text-uppercase">Partners</p>
          <h2 class="title">Project Partners</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" data-aos="fade-left">
        <div class="brand-carousel mt-0 swiper-container">
          <div class="swiper-wrapper">
            {{range .brand_images}}
            {{ if fileExists (add `assets/` .) }}
            <div class="swiper-slide">
              <div class="brand-item">
                {{$img:= resources.Get . }}
                {{$img_width := $img.Width }}

                {{$img_orginal := add (add (string $img_width) "x") " " }}
                {{$img_src := ($img.Resize $img_orginal).RelPermalink }}

                {{$imgWebp := add (add (string $img_width) "x") " webp" }}
                {{$imgWebp_src := ($img.Resize $imgWebp).RelPermalink }}
                <img loading="lazy" decoding="async" class="img-fluid" width="{{$img_width}}" height="{{$img.Height}}" src="{{$imgWebp_src}}" alt="Brand Image" onerror="this.onerror=null;this.src='{{$img_src}}'">
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.intro_video}}
{{if .enable}}
<section class="video-popup has-bg-color">
  <div class="container-xxl">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="block">
          <div class="section-title text-center">
            <p class="text-uppercase">{{.subtitle | markdownify}}</p>
            <h2 class="title">{{.title | markdownify}}</h2>
            <p>{{.description | markdownify}}</p>
          </div>

          <div class="has-video-popup" data-aos="fade-up" data-aos-delay="100">
            <button type="button" class="video-play-btn" data-src="{{.video_url}}" aria-label="video play"> <i class="las la-play"></i>
            </button>
            {{ if fileExists (add `assets/` .video_thumbnail) }}
            {{$img:= resources.Get .video_thumbnail }}
            {{$img:= $img.Resize "700x "}}
            {{$imgWebp:= $img.Resize "700x webp"}}
            <img loading="lazy" decoding="async" class="img-fluid video-thumb" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imgWebp.RelPermalink}}" alt="Video Thumbnail" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
            {{end}}
          </div>
        </div>

        <div class="has-circle has-bg-anim" data-aos="fade-in">
          <span class="circle-1 ratio-32"></span>
          <span class="circle-2 ratio-85 fill"></span>
          <span class="circle-3 ratio-20 fill"></span>
          <span class="circle-4 ratio-47"></span>
          <span class="circle-5 ratio-62"></span>
          <span class="circle-6 ratio-20 fill"></span>
          <span class="circle-7 ratio-73"></span>
          <span class="circle-8 ratio-37"></span>
          <span class="circle-9 ratio-20 fill"></span>
          <span class="circle-10 ratio-65 fill"></span>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.how_it_works}}
{{if .enable}}
<section class="section-sm">
  <div class="container">
    {{ $.Scratch.Set "counter" 0 }}
    {{range .block}}
    {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
    {{$n := $.Scratch.Get "counter"}}
    <div class="row justify-content-center align-items-center mb-4">
      <div class="col-lg-5 {{if (modBool $n 2)}} order-md-1 {{end}}" data-aos="fade-up">
        <div class="section-title mb-0">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2 class="title text-break">{{.title | markdownify}}</h2>
          <p>{{.description | markdownify}}</p>
        </div>
      </div>
      <div class="col-lg-6 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div id="search"></div>
      </div>
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{end}}

{{end}}